@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);

  --color-primary: #0a369d;
  --color-primary-alt: #0a6de4;
  --color-primary-100: #e7f0ff;
  --color-primary-600: #0d6efd;
  --color-primary-700: #0054e4;
  --color-primary-1100: #000031;
  --color-black-secondary: #647995;
  --color-black-primary: #1d2433;
  --color-error-100: #fbeae9;
  --color-error-900: #9e0a05;
  --color-neutral-300: #f0f2f5;
  --color-neutral-600: #98a2b3;
  --color-neutral-700: #667185;
  --color-neutral-900: #344054;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: "Poppins", Helvetica, sans-serif;
}

